In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
!ls "/content/drive/My Drive"

'1 (online-video-cutter.com).mp4'  'Lab de prog.gdoc'
'5141 (1).pdf'			   'lista3 (1).gdoc'
'5141 (2).pdf'			    lista3.gdoc
'5141 (3).pdf'			    lista3.pdf
'5141 (4).pdf'			   'Meet Recordings'
'5141 (5).pdf'			   'Planilha sem título (1).gsheet'
 5141.pdf			   'Planilha sem título (2).gsheet'
'Apresentação sem título.gslides'  'Planilha sem título.gsheet'
'Artigo SO.gdoc'		    PO.gdoc
'Colab Notebooks'		   'Seminário SO.gdoc'
'Documento sem título.gdoc'	    SO.gdoc
 IHC.gdoc			    ThalitaMendoncaAntico.pdf
 ihcPerfil.gsheet

In [3]:
path="/content/drive/My Drive/Colab Notebooks"

In [4]:
rendimentos = pd.read_csv(path+"/rendimentos.csv",index_col=False,header=None,squeeze=True)
display(rendimentos)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,4,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

             0     1   ...                   60             61
0           NaN   Ano  ...  4ª série.2_abandono  Não-Seriado.2
1           0.0  2016  ...                  NaN            NaN
2           1.0  2016  ...                  NaN            NaN
3           2.0  2016  ...                  NaN            NaN
4           3.0  2016  ...                  NaN            NaN
...         ...   ...  ...                  ...            ...
328301  65656.0  2020  ...                  NaN              0
328302  65657.0  2020  ...                  NaN            NaN
328303  65658.0  2020  ...                  NaN            NaN
328304  65659.0  2020  ...                  NaN            NaN
328305  65660.0  2020  ...                  NaN            NaN

[328306 rows x 62 columns]

In [5]:
rendimentos.describe()

                   0
count  328305.000000
mean    32830.000000
std     18954.726878
min         0.000000
25%     16415.000000
50%     32830.000000
75%     49245.000000
max     65660.000000

In [8]:
rendimentos.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61],
           dtype='int64')

In [21]:
rendimentos[2]

0               Região
1                Norte
2                Norte
3                Norte
4                Norte
              ...
328301    Centro-Oeste
328302    Centro-Oeste
328303    Centro-Oeste
328304    Centro-Oeste
328305    Centro-Oeste
Name: 2, Length: 328306, dtype: object

In [59]:
Sudeste = rendimentos[(rendimentos[2] == 'Sudeste') | (rendimentos[2] == 'Região')]
Sudeste

             0     1   ...                   60             61
0           NaN   Ano  ...  4ª série.2_abandono  Não-Seriado.2
28331   28330.0  2016  ...                    0            NaN
28332   28331.0  2016  ...                  NaN            NaN
28333   28332.0  2016  ...                    0            NaN
28334   28333.0  2016  ...                    0            NaN
...         ...   ...  ...                  ...            ...
309521  46876.0  2020  ...                  NaN            NaN
309522  46877.0  2020  ...                  NaN            NaN
309523  46878.0  2020  ...                  NaN            NaN
309524  46879.0  2020  ...                  NaN            NaN
309525  46880.0  2020  ...                  NaN            NaN

[92753 rows x 62 columns]

In [60]:
Sudeste.describe()

                  0
count  92752.000000
mean   37623.102726
std     5355.088467
min    28330.000000
25%    32985.750000
50%    37623.000000
75%    42261.000000
max    46918.000000

In [61]:
Sudeste.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61],
           dtype='int64')

In [62]:
Sudeste.index

Int64Index([     0,  28331,  28332,  28333,  28334,  28335,  28336,  28337,
             28338,  28339,
            ...
            309516, 309517, 309518, 309519, 309520, 309521, 309522, 309523,
            309524, 309525],
           dtype='int64', length=92753)

In [63]:
Sudeste.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61],
           dtype='int64')